@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 35% 14%;
    --foreground: 240 5% 95%;
    --card: 256 35% 14%;
    --card-foreground: 240 5% 95%;
    --popover: 256 35% 14%;
    --popover-foreground: 240 5% 95%;
    --primary: 262 52% 51%;
    --primary-foreground: 240 5% 98%;
    --secondary: 261 46% 66%;
    --secondary-foreground: 240 5% 98%;
    --muted: 261 46% 66%;
    --muted-foreground: 240 5% 70%;
    --accent: 261 46% 66%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 240 5% 98%;
    --border: 240 5% 95% / 0.1;
    --input: 240 5% 95% / 0.1;
    --ring: 261 46% 66%;
    --radius: 30px;
    --chart-1: 262 52% 51%;
    --chart-2: 261 46% 66%;
    --chart-3: 0 72% 51%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 256 35% 14%;
    --foreground: 240 5% 95%;
    --card: 256 35% 14%;
    --card-foreground: 240 5% 95%;
    --popover: 256 35% 14%;
    --popover-foreground: 240 5% 95%;
    --primary: 262 52% 51%;
    --primary-foreground: 240 5% 98%;
    --secondary: 261 46% 66%;
    --secondary-foreground: 240 5% 98%;
    --muted: 261 46% 66%;
    --muted-foreground: 240 5% 70%;
    --accent: 261 46% 66%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 240 5% 98%;
    --border: 240 5% 95% / 0.1;
    --input: 240 5% 95% / 0.1;
    --ring: 261 46% 66%;
    --chart-1: 262 52% 51%;
    --chart-2: 261 46% 66%;
    --chart-3: 0 72% 51%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
